@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --branco: white;
    --cor-de-fundo: #032850;
    --fundo-senha: #13437a;
    --fundo-texto: #5b799b;
    --borda: #0075FF;
    --raleway: "Raleway", sans-serif;
}

*{
    font-weight: 400;
}

body{
    color: var(--branco);
    background-color: var(--cor-de-fundo);
    font-family: var(--raleway);
}